@using Web.Manager.WebManager.Entity
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "AddPlatforminfo";
}
@await Html.PartialAsync("_nav", new WebManager.Core.Entity.NavigationModel("推广平台", "图片管理", "图片详情", true))
<div class="row bgwhitebox10 mymgb15">
    <div class="mysearchbox">
        <label>添加图片</label>
        <div class="mycl"></div>
    </div>
    <div class="row mt30 mtop15">

        <div class="row rowmb15">
            <div class="col-md-12">
                <label class="col-sm-3 edit-group-label">服务器物理图片地址：</label>
                <div class="col-sm-5">
                    <textarea class="form-control" id="serverFilePath" name="serverFilePath" style="height:100px;" disabled>@Model.Url</textarea>
                </div>
            </div>
        </div>

        <div class="row rowmb15">
            <div class="col-md-12">
                <label class="col-sm-3 edit-group-label">今日头条图库地址：</label>
                <div class="col-sm-5">
                    <textarea class="form-control" id="serverFilePath" name="serverFilePath" style="height:100px;" disabled>@Model.WebUrl</textarea>
                </div>
            </div>
        </div>
        <div class="row rowmb15">
            <div class="col-md-12">
                <label class="col-sm-3 edit-group-label">图片类型：</label>
                <div class="col-sm-5">
                    <input class="form-control" id="MimeType" name="MimeType" type="text" value="@Model.MimeType" maxlength="400" />
                </div>
            </div>
        </div>

        <div class="row rowmb5">
            <div class="col-md-12">
                <label class="col-sm-2 edit-group-label"><span class="spanrequired">*</span>图片：</label>
                <div class="col-md-7">
                    <div style="position:relative;width:300px;">
                        <img id="showImg" style="width: 300px;opacity:0.5;" src="@Model.WebUrl">
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin:20px 0px;">
            <div class="col-md-12">
                <label class="col-sm-3 edit-group-label"></label>
                <div class="col-sm-8">
                    <button id="btn_cancel" class="btn btn-warning" onclick="history.go(-1)">返回</button>
                </div>
            </div>
        </div>
    </div>
</div>

