@using Web.Manager.WebManager.Entity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
@await Html.PartialAsync("_nav", new WebManager.Core.Entity.NavigationModel("推广平台", "微头条管理", "微头条列表"))

<div class="row bgwhitebox10 mymgb15">
    <div class="detail-search" style="border-bottom: 2px solid #01ACE2;padding-bottom:10px;">
        <div class="col-sm-9 mypdl0">
            <!-- 今日头条ID -->

            <a class="btn btn-primary btn-sm" href="/JRTTImages/AddWttPage"><i class="fa fa-plus"></i> 添加微头条</a>


            <div class="col-sm-2" style="width:160px;">
                <label>发布状态：</label>
                <select id="Status" name="type">
                    <option value="0">原片</option>
                    <option value="1">已发布</option>
                </select>
            </div>


            &nbsp;&nbsp;&nbsp;&nbsp;
            @*PY脚本：*@
            <input type="text" id="PYScript" class="mysearch-text" style="width:400px;"  maxlength="200" value="@ViewBag.pyscript" />
            关键字：
            <input type="text" id="KeyWord" class="mysearch-text" style="width:300px;" placeholder="微头条内容" maxlength="20" />

        </div>
        <div class="col-sm-3 mypdr0" style="text-align:right;">
            <button id="searchBtn" class="btn btn-success btn-sm"><i class="fa fa-search"></i>查询</button>
        </div>

        <div class="mycl"></div>
    </div>
    <div class="row mtop15">
        <div class="row">
            <div class="col-sm-12" style="padding:0px;">
                <table class="table table-bordered mytable">
                    <thead>
                        <tr>
                            <th width="5%">ID</th>
                            <th width="70%">内容</th>
                            <th width="15%">创建时间</th>
                            <th width="10%">操作</th>
                        </tr>
                    </thead>
                    <tbody id="goodsbody"></tbody>
                </table>
            </div>
            <div class="row">
                <div id="infoPage"></div>
            </div>
        </div>
    </div>
</div>


@section CssExtend{
    <link rel="stylesheet" href="@HtmlExtention.GetUrlContent("/Scripts/plugins/sspager/ss_page.css")" />
}
@section JsExtend{
    <script type="text/javascript" src="@HtmlExtention.GetUrlContent("/Scripts/plugins/sspager/ss_page.js")"></script>
    <script type="text/javascript" src="@HtmlExtention.GetUrlContent("/Scripts/page/jrttimages/WeiTouTiaoList.js")"></script>
}
