@using Web.Manager.WebManager.Entity
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "添加推广平台渠道";
}
@await Html.PartialAsync("_nav", new WebManager.Core.Entity.NavigationModel("推广平台", "推广平台渠道管理", "添加推广平台渠道", true))
<style>
    .edit-group-label {
        width: 220px;
    }
</style>
<div class="row bgwhitebox10 mymgb15">
    <div class="mysearchbox">
        <label>添加推广平台渠道</label>
        <div class="mycl"></div>
    </div>
    <div class="row mt30 mtop15">
        <input type="hidden" id="PlatformID" name="PlatformID" value="@ViewBag.pid" />
        <div class="row rowmb15">
            <div class="col-md-pull-12">
                <label class="col-sm-3 edit-group-label"><span class="spanrequired">*</span>PY 视频 发布脚本：</label>
                <div class="col-sm-5">
                    <input class="form-control" id="PYScript_Video" name="PYScript_Video" type="text" value="" placeholder="请填写（视频发布脚本.py）" />
                </div>
            </div>
        </div>
        <div class="row rowmb15">
            <div class="col-md-pull-12">
                <label class="col-sm-3 edit-group-label"><span class="spanrequired">*</span>PY 短文 发布脚本：</label>
                <div class="col-sm-5">
                    <input class="form-control" id="PYScript_ShortEssay" name="PYScript_ShortEssay" type="text" value="" placeholder="请填写（短文发布脚本.py）" />
                </div>
            </div>
        </div>
        <div class="row rowmb15">
            <div class="col-md-pull-12">
                <label class="col-sm-3 edit-group-label"><span class="spanrequired">*</span>PY 长文 发布脚本：</label>
                <div class="col-sm-5">
                    <input class="form-control" id="PYScript_LongEssay" name="PYScript_LongEssay" type="text" value="" placeholder="请填写（长文发布脚本.py）" />
                </div>
            </div>
        </div>
        <div class="row rowmb15">
            <div class="col-md-pull-12">
                <label class="col-sm-3 edit-group-label"><span class="spanrequired">*</span>PY 评论 发布脚本：</label>
                <div class="col-sm-5">
                    <input class="form-control" id="PYScript_Comment" name="PYScript_Comment" type="text" value="" placeholder="请填写（评论发布脚本.py）" />
                </div>
            </div>
        </div>
        <div class="row rowmb15">
            <div class="col-md-pull-12">
                <label class="col-sm-3 edit-group-label"><span class="spanrequired">*</span>PY 图库 发布脚本：</label>
                <div class="col-sm-5">
                    <input class="form-control" id="PYScript_PIC" name="PYScript_PIC" type="text" value="" placeholder="请填写（图库发布脚本.py）" />
                </div>
            </div>
        </div>

        <div class="row rowmb15">
            <div class="col-md-pull-12">
                <label class="col-sm-3 edit-group-label"><span class="spanrequired">*</span>推广平台渠道名称：</label>
                <div class="col-sm-5">
                    <input class="form-control" id="SubChannelName" name="SubChannelName" type="text" value="" />
                </div>
            </div>
        </div>

        <div class="row rowmb15">
            <div class="col-md-12">
                <label class="col-sm-3 edit-group-label"><span class="spanrequired">*</span>渠道地址URL：</label>
                <div class="col-sm-5">
                    <textarea class="form-control" id="AddressURL" name="AddressURL"></textarea>
                </div>
            </div>
        </div>
        <div class="row rowmb15">
            <div class="col-md-12">
                <label class="col-sm-3 edit-group-label"><span class="spanrequired">*</span>模拟提交数据包（COOKIE）：</label>
                <div class="col-sm-5">
                    <textarea class="form-control" id="AnalogPacket" name="AnalogPacket" style="min-height:200px;"></textarea>
                </div>
            </div>
        </div>
        <div class="row rowmb15">
            <div class="col-md-12">
                <label class="col-sm-3 edit-group-label">账号：</label>
                <div class="col-sm-5">
                    <input class="form-control" id="UserName" name="UserName" type="text" value="" maxlength="400" />
                </div>
            </div>
        </div>
        <div class="row rowmb15">
            <div class="col-md-12">
                <label class="col-sm-3 edit-group-label">密码：</label>
                <div class="col-sm-5">
                    <input class="form-control" id="UserPwd" name="UserPwd" type="text" value="" maxlength="400" />
                </div>
            </div>
        </div>



        <div class="row rowmb15">
            <div class="col-md-12">
                <label class="col-sm-3 edit-group-label">备注：</label>
                <div class="col-sm-5">
                    <textarea class="form-control" id="Remark" name="Remark" maxlength="400"></textarea>
                </div>
            </div>
        </div>


        <div class="row" style="margin:20px 0px;">
            <div class="col-md-12">
                <label class="col-sm-3 edit-group-label"></label>
                <div class="col-sm-8">
                    <button id="btn_save" class="btn btn-primary">提交</button>
                    <button id="btn_cancel" class="btn btn-warning" onclick="history.go(-1)">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section JsExtend{
    <script type="text/javascript" src="@HtmlExtention.GetUrlContent("/Scripts/page/subchannel/add.js")"></script>
}

