@using Web.Manager.WebManager.Entity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
@await Html.PartialAsync("_nav", new WebManager.Core.Entity.NavigationModel("推广平台", "推广平台渠道管理"))

<div class="row bgwhitebox10 mymgb15">
    <div class="detail-search" style="border-bottom: 2px solid #01ACE2;padding-bottom:10px;">
        <div class="col-sm-9 mypdl0">

            @await Html.PartialAsync("_linkBtn", "/Subchannel/AddSubchannel")
            &nbsp;&nbsp;&nbsp;&nbsp;

            关键字：
            <input type="text" id="KeyWord" class="mysearch-text" style="width:300px;" placeholder="平台名称" maxlength="10" />

        </div>
        <div class="col-sm-3 mypdr0" style="text-align:right;">
            <button id="searchBtn" class="btn btn-success btn-sm"><i class="fa fa-search"></i>查询</button>
        </div>

        <div class="mycl"></div>
    </div>
    <div class="row mtop15">
        <div class="row">
            <div class="col-sm-12" style="padding:0px;">
                <table class="table table-bordered mytable">
                    <thead>
                        <tr>
                            <th width="5%">ID</th>
                            <th width="30%">平台渠道名称</th>
                            <th width="5%">是否有效</th>
                            <th width="15%">渠道地址URL</th>
                            <th width="20%">备注</th>
                            <th width="5%">创建时间</th>
                            <th width="20%">操作</th>
                        </tr>
                    </thead>
                    <tbody id="goodsbody"></tbody>
                </table>
            </div>
            <div class="row">
                <div id="infoPage"></div>
            </div>
        </div>
    </div>
</div>


@section CssExtend{
    <link rel="stylesheet" href="@HtmlExtention.GetUrlContent("/Scripts/plugins/sspager/ss_page.css")" />
}
@section JsExtend{
    <script type="text/javascript" src="@HtmlExtention.GetUrlContent("/Scripts/plugins/sspager/ss_page.js")"></script>
    <script type="text/javascript" src="@HtmlExtention.GetUrlContent("/Scripts/page/subchannel/index.js")"></script>
}
